@keyframes input-checkbox {
    0% {
        transform: scale(0, 0);
    }

    50% {
        transform: scale(1, 1);
    }

    100% {
        transform: scale(0, 0);
    }
}

@keyframes collapseItem {
    0% {
        transform: rotateX(0deg);
    }
    100% {
        transform: rotateX(-90deg);
    }
}