@import 'breakpoints.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: lightgray;
    font-family: "Roboto Condensed", Arial, sans-serif;
    font-size: 16px;
    touch-action:double-tap-zoom;

    // *************** MEDIA QUERIES ***************
    @include devices (tablet) {
        font-size: 12px;
    }
    @include devices (mobileL) {
        font-size: 10px;
    }
    @include devices (mobileM) {
        font-size: 9px;
    }
    @include devices (mobileS) {
        font-size: 8px;
    }
    @include devices (galaxyFold) {
        font-size: 7px;
    }
    // *********************************************
}