// google fonts 
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700");

// other style sheets
@import 'base.scss';

// workspace code
.to-do-list {
    max-width: 600px;
    width: 100%;
    
    header {
        background-color: #de3f53;
        padding: 20px;
        color: #fff;
        font-size: 1.3em;
    }

    .list {
        li {
            background-color: #697398;
            color: #fff;
            font-size: 1.3em;
            padding: 20px;
            border-bottom: 1px solid black;
            display: flex;
            align-items: center;
            position: relative;
            transition: 400ms ease;

            &:hover {
                background-color: #8d99c6;
            }

            &:hover > button {
                opacity: 1;
            }

            .check {
                -webkit-appearance: none;
                height: 25px;
                width: 25px;
                background-color: #404a6e;
                border-radius: 50%;
                margin-right: 20px;
                cursor: pointer;
                box-shadow: 0 0 1px black;
                transition: 200ms;

                &:hover {
                    background-color: #282f45;
                }

                &:checked {
                    background-color: lime;

                    &::after {
                        opacity: 1;
                        transform: rotate(0deg);
                    }
                }

                &::after {
                    content: '';
                    background-image: url(../img/check-circle.svg);
                    width: 100%;
                    height: 100%;
                    display: block;
                    background-size: cover;
                    transform: rotate(-45deg);
                    transition: 400ms;
                    opacity: 0;
                }
            }

            .remove {
                width: 20px;
                height: 20px;
                cursor: pointer;
                border-radius: 50%;
                border: none;
                background-color: #de3f53;
                position: absolute;
                top: 35%;
                right: 10px;
                opacity: 0;
                box-shadow: 0 1px 2px black;
                transition: 400ms ease;

                &::after { // texto
                    content: 'x';
                    color: white;
                    position: relative;
                    bottom: 7%;
                    right: 1%;
                }
            }
        }
    }

    footer {
        background-color: #404a6e;

        input {
            background-color: #404a6e;
            color: #fff;
            border: none;
            outline: none;
            width: 100%;
            padding: 20px;
            font-size: 1.1em;
            font-family: "Roboto Condensed", Arial, sans-serif;
        }
    }
}